.settings/*
*/.settings/*
*/.settings
/.settings
/.settings/
.mk
*.mk
.cproject
/.project
*/.project
.project
/.cproject
*.cproject
*/Debug
Debug/
/Debug/
/Debug/*
*.log
S-AFAlog.log
/S-AFA/S-AFAlog.log
S-AFA/S-AFAlog.log

#Procesos
safa/src/safa
mdj/src/mdj
dam/src/dam
fm9/src/fm9
cpu/src/cpu

# Tests
tests/dtb
tests/serializar
tests/deserializar

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

